/*Admin Header*/
.admin__header {
    width: 100%;
    padding: 20px 0px;
    background: var(--primary-color);
}

.admin__nav-top {
    width: 100%;
}

.admin__nav-wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}

.admin__nav-wrapper-top .logo h2 {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 10px;
}

.admin__nav-wrapper-top .search__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.admin__nav-wrapper-top .search__box input {
    height: 35px;
}

.admin__nav-wrapper-top .search__box i {
    position: absolute;
    color: #000;
    top: 5px;
    right: 17px;
}

.admin__nav-top-right {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.admin__nav-top-right img {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.admin__nav-top-right span i {
    color: #fff;
    cursor: pointer;
}

.admin__nav-top-right .admin__avatar {
    cursor: pointer;
}

.admin__nav-top-right .profile {
    position: relative;
    z-index: 9;
}

.admin__nav-top-right .profile .profile__actions {
    position: absolute;
    top: 98%;
    left: 0;
    width: 150px;
    z-index: 10;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border: 1px solid #8f8e8e7d;
    border-radius: 5px;
    line-height: 30px;
    cursor: pointer;
    display: none;
}

.active__profileActions {
    display: block !important;
}

.admin__nav-top-right .profile .logout__profile {
    text-align: center;
    font-weight: 500;
}

.admin__nav-top-right .profile .logout__profile:hover {
    color: #000;
}

.admin__nav-top-right .profile .logout {
    width: 110%;
    padding-left: 10px;
    border-radius: 5px;
}

.admin__nav-top-right .profile .logout:hover {
    background: #f5f5f5;
}

/* Admin menu */
.admin__menu {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: var(--card-bg-02);
}

.admin__navigation {
    text-align: center;
}

.admin__menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.7rem;
}

.admin__menu-list .admin__menu-item {
    list-style: none;
    margin-right: 10px;
}

.admin__menu-list .admin__menu-item a{
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px;
}

.active__admin-menu {
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}