@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/* Css Variable */
:root{
    --card-bg-01: #fdefe6;
    --card-bg-02: #d6e5fb;
    --card-bg-03: #ceebe9;
    --card-bg-04: #e2f2b2;
    --primary-color: #0a1d37;
    --hero-bg: #c2ccd5;
    --heading-fontSize: 2rem;
    --small-text-color: #999;
    --heading-text-color: #0a1d37;
}