/* refundForm.css */
.refund-form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.order-details {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.order-details h6 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
}

.order-details p {
    color: #666;
}

.suborder-items {
    margin-top: 10px;
}

.suborder-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.suborder-item-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.suborder-item-info {
    flex: 1;
}

.suborder-item-info p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
}

.suborder-item-info p strong {
    color: #333;
}

.form-btn {
    padding: 8px 20px;
    font-size: 0.9rem;
}